services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    env_file: .env

    environment:
      DJANGO_ENV: dev
      DJANGO_SETTINGS_MODULE: config.settings.dev

    ports:
      - "8000:8000"
    depends_on:
      - db
    command: >
      sh -c "
      until nc -z db 5432; do
        echo 'Waiting for Postgres...';
        sleep 1;
      done;
      python manage.py migrate &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
volumes:
  pgdata: